login-form-username: uživatelské jméno
login-form-username-required: je nutné vyplnit uživatelské jméno
login-form-password: heslo
login-form-password-required: je nutné vyplnit heslo
login-form-send: přihlásit se
